table {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

  .danger{
    background-color: rgb(245, 187, 187);
  }
